// @use "mixin";    //use tb use krna chiye jb pta ho ki 2 file m same fn h and vo conflict kr skte h
@import "mixin";
@import "dashboard";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.red {
  color: red;
}
.purple {
  color: rgb(47, 0, 255);
}
.green {
  color: rgb(0, 195, 0);
}

.adminContainer {
  // @include mixin.grid(1fr 4fr, 2rem);    // if on top using @use
  @include grid(1fr 4fr, 2rem);
  height: 100vh;
  background-color: rgb(247, 247, 247);
  > aside {
    width: 100%;
    background-color: white;
    padding: 1rem;
    z-index: 10;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
     > div {
    margin: 2rem 1rem;
    > h5 {
      @include heading(2px);
      opacity: 0.8;
      margin: 1rem 0;
    }
    > ul {
      @include flex(column, unset, unset, 0.5rem);
      list-style: none;
      > li {
        padding: 0.5rem 1rem;
        border-radius: 10px;
        a {
          color: rgba(0, 0, 0, 0.825);
          @include flex(row, unset);
        }
      }
    }
  }
  }
 
}
